.admin{

}

.table{
    border: 1px solid;
    color: orange;
    width: 100%;
}

.tr{
    border: 1px solid;
    color: orange;
}

.th{
    border: 1px solid orange;
    color: mediumpurple;
}

.td{
    border: 1px solid orange;
    color: white;
}

.button{
    flex: 0.6;
    width: 100%;
    min-height: 30px;
    cursor: pointer;
    outline: none;
    padding: 0 1rem;
    border: none;
    background: #FF4820;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    font-family: var(--font-family);
    font-size: 10px;
    line-height: 27px;
    font-weight: bold;
    color: #fff;
}