.login {
    display: flex;
}

.loginContent {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-right: 5rem;
    min-width: 200px;
}

.loginContent h1 {
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 62px;
    line-height: 75px;
    letter-spacing: -0.04em;
}

.loginInput button {
    flex: 0.6;
    width: 100%;
    min-height: 50px;
    cursor: pointer;
    outline: none;
    padding: 0 1rem;
    border: none;
    background: #FF4820;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    font-family: var(--font-family);
    font-size: 20px;
    line-height: 27px;
    font-weight: bold;
    color: #fff;
}