.register {
    display: flex;
}

.registerContent {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-right: 5rem;
    min-width: 200px;
}

.registerContent h1 {
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 62px;
    line-height: 75px;
    letter-spacing: -0.04em;
}

.registerInput {
    width: 50%;
    margin: 2rem 0 1rem ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.float {
    position: absolute;
    top: 50%;
    left: 10%;
    z-index: 5;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #999;
    text-align: center;
    font-family: 'Roboto','sans-serif';
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.stopFloat {
    position: absolute;
    top: 50%;
    right: 15%;
    z-index: 5;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #999;
    text-align: center;
    font-family: 'Roboto','sans-serif';
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.stopFloat input[type='range'] {
    height: 50%;
    width: 50%;
    margin: 0;
}

.registerInput input{
    flex: 2;
    width: 100%;
    min-height: 50px;
    background: var(--color-footer);
    font-family: var(--font-family);
    font-size: 20px;
    line-height: 27px;
    border: 2px solid var(--color-footer);
    padding: 0 1rem;
    outline: none;
    color: #fff;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-bottom: 3rem;
}

.registerInput button {
    flex: 0.6;
    width: 100%;
    min-height: 50px;
    cursor: pointer;
    outline: none;
    padding: 0 1rem;
    border: none;
    background: #FF4820;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    font-family: var(--font-family);
    font-size: 20px;
    line-height: 27px;
    font-weight: bold;
    color: #fff;
}

@media screen and (max-width: 1050px) {
    .register {
        flex-direction: column;
    }

    .registerContent {
        margin: 0 0 3rem;
    }
}

@media screen and (max-width: 650px) {
    .register h1 {
        font-size: 48px;
        line-height: 60px;
    }

    .registerInput input,
    .registerInput button {
        font-size: 16px;
        line-height: 24px;
    }
}

@media screen and (max-width: 490px) {
    .register h1 {
        font-size: 36px;
        line-height: 48px;
    }

    .registerInput input,
    .registerInput button {
        font-size: 12px;
        line-height: 16px;
    }
}

.combobox {
    /* Border slightly darker than Chrome's <select>, slightly lighter than FireFox's */
    border: 1px solid #999;
    padding-right: 1.25em; /* leave room for ▾ */
    z-index: 10;
}
.dropdown, .combobox {
    /* "relative" and "inline-block" (or just "block") are needed
       here so that "absolute" works correctly in children */
    position: relative;
    display: inline-block;
    z-index: 10;
}
.combobox > .downarrow, .dropdown > .downarrow {
    /* ▾ Outside normal flow, relative to container */
    display: inline-block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 1.25em;

    cursor: default;
    nav-index: -1; /* nonfunctional in most browsers */

    border-width: 0px;          /* disable by default */
    border-style: inherit; /* copy parent border */
    border-color: inherit; /* copy parent border */
}
/* Add a divider before the ▾ down arrow in non-dropdown comboboxes */
.combobox:not(.dropdown) > .downarrow {
    border-left-width: 1px;
}
.popup {
    z-index: 10;
}
/* Auto-down-arrow if one is not provided */
.downarrow:empty::before {
    content: '▾';
}
.downarrow::before, .downarrow > *:only-child {
    text-align: center;

    /* vertical centering trick */
    position: relative;
    top: 50%;
    display: block; /* transform requires block/inline-block */
    transform: translateY(-50%);
}

.results h2 {
    color: white;
}

.menu {
    width: 200px;
    display: flex;
    flex-direction: row;
    background: #ffffff;
}