.sectionPadding {
    padding: 4rem 6rem;
}

.gradientText {
    background: var(--gradient-text);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media screen and (max-width: 700px) {
    .sectionPadding {
        padding: 4rem;
    }
}

@media screen and (max-width: 550px) {
    .sectionPadding {
        padding: 4rem 2rem;
    }
}