.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 6rem;
}

.navbarLinks {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.navbarLinksLogo {
    margin-right: 2rem;
}

.navbarLinksLogo img {
    width: 62px;
    height: 62px;
}

.navbarLinksContainer {
    display: flex;
    flex-direction: row;
}

.navbarBtns {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.navbarLinksContainer p,
.navbarBtns p,
.navbarMenuContainer p {
    color: #fff;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    text-transform: capitalize;
    margin: 0 1rem;
    cursor: pointer;
}

.navbarBtns button,
.navbarMenuContainer button {
    padding: 0.5rem 1rem;
    color: #fff;
    background: #FF4820;
    font-family: var(--font-family);
    font-weight: 500;
    border-radius: 5px;
    font-size: 18px;
    line-height: 25px;
    border: 0;
    outline: none;
    cursor: pointer;
    text-transform: capitalize;
}

.navbarMenu {
    margin-left: 1rem;
    display: none;
    position: relative;
}

.navbarMenu svg {
    cursor: pointer;
}

.navbarMenuContainer {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    text-align: end;
    background: var(--color-footer);
    padding: 2rem;
    position: absolute;
    top: 40px;
    right: 0;
    margin-top: 1rem;
    min-width: 220px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.2);

}

.navbarMenuContainer p {
    margin: 1rem 0;
}

.navbarMenuContainerLinksBtns {
    display: none;
}

@media screen and (max-width: 1050px) {
    .navbarLinksContainer {
        display: none;
    }

    .navbarMenu {
        display: flex;
    }
}

@media screen and (max-width: 700px) {
    .navbar {
        padding: 2rem 4rem;
    }
}

@media screen and (max-width: 550px) {
    .navbar {
        padding: 2rem;
    }

    .navbarSign {
        display: none;
    }

    .navbarMenuContainer {
        top: 20px;
    }

    .navbarMenuContainerLinksBtns {
        display: block;
    }
}